<div class="container">
    <div class="content">
        <p id="greet">Great!</p>
        <p>A little bit background just for awareness.</p>
        <p>This WeaZardMap website also known as Weather and Hazard map intends to give weather update(temperature, wind, humidity) and hazard(earthquake and landslide) prone area of Eastern Visayas.
           It is created to help the users to plan everything that is related or done outside before deciding.
           And with the reason that sudden change of weather might affects not only planned or scheduled matters but also individuals' health.
           With this, every users can approximately planned picnics or whatever they want with safe and happy because that's what really matter.
           </p><br><br><br>
        <hr>
        <p id="greet">You Can Contact Us</p>
        <mat-card class="custom-mat-card">
            <mat-icon>email</mat-icon>
            kenneth.palencia@evsu.edu.ph
        </mat-card>
        <mat-card class="custom-mat-card">
            <mat-icon>call</mat-icon>
            09156965797
        </mat-card>
        <br><br>
    </div>
</div>