<div class="homepara">
    <p>Hello! Welcome user!</p><br>
    <p>This website is a final requirement of its very own author Mr. Kenneth P. Palencia of BSIT - 3C.</p>
    <p>In fulfillment of IT 373A Event-Driven Programming with the application of past lessons such angular, GitBash and others.</p>
    <p>And with the content of this website, it has 4 (four) sections namely:</p><br>
    <p>(1) Home;</p>
    <p>(2) Weather Update that is connected to weatherapi to give accurate weather condition such as temperature(degrees Celcious), wind, humidity and sunrise and moonrise;</p>
    <p>(3) Hazard Map section where you can see if what your loaction are prone to (Note: limited to earthquake and landslide prone areas only); and</p>
    <p>(4) About Us section where you can contact the author through email or phone call.</p><br><br>
    <p>Thank You. And God bless!</p>
</div>